.thirdSection {
    background-image: url('../public/img/3-section/bg.png');
    background-position: top;
    background-size: cover;
    position: absolute;
    height: 90vh;
    max-height: 800px;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
}
